div(ng-controller='ProductController')
  div.nav
    a.btn.btn-lg.btn-info.cart-button(role="button" href="/#/cart") Votre panier ({{cart.nbProducts}})

  script(type="text/ng-template" id="productModal.html")
    div.modal-header
      h3.modal-title {{product.name}}

    div.modal-body
      img(ng-src='{{product.url_img}}' alt="{{product.name}}")
      p {{product.desc}}
      p Prix : {{product.price}} €
      p Degré : {{product.alcohol}}°

    div.modal-footer
      button.btn.btn-primary(type="button" ng-click="addToCart()") Ajouter au panier
      button.btn.btn-warning(type="button" ng-click="cancel()") Fermer


  div.main-content
    h2 À l'affiche
    ul.carousel-container(rn-carousel rn-carousel-index='carouselIndex' rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered)
      li(ng-repeat='slide in slides')
        div.layer.row
          div.col-sm-6
            img.carousel-slide-img.cursor-pointer(ng-src='{{slide.url_img}}' ng-click="open(slide)")
          div.col-sm-5
            p.row
              a.btn.btn-lg.btn-warning.gallery-button(role="button" ng-click="addToCart(slide)")
                span.glyphicon.glyphicon-shopping-cart
                span  {{slide.price}} €
            h4.cursor-pointer.row(ng-click="open(slide)") {{slide.name}}
            div.row
              p {{slide.desc}}


    div(rn-carousel-indicators ng-if='slides' slides='slides' rn-carousel-index='carouselIndex')

  br

  div.gallery.main-content(lazy-scroll='loadProductsPage()' lazy-scroll-trigger="90")
    h2 Les bières
    div.products
      div.product(ng-repeat='product in products')
        div.row
          div.col-xs-6.col-md-4
            img.gallery-icon.cursor-pointer(ng-src='{{product.url_img}}' alt="{{product.name}}" ng-click="open(product)")
          div.col-xs-6.col-md-8
            p Prix : {{product.price}} €
            p Degré : {{product.alcohol}}°
            p
              a.btn.btn-primary(role="button" ng-click="addToCart(product)") Ajouter au panier

        div.caption.line-clamp
          h3.cursor-pointer(ng-click="open(product)") {{product.name}}
          p {{product.desc}}

