extends layout

block content
  div.jumbotron.jumbotron-fluid.header
    div.container
      h1.display-3 BeerStore
      p.lead Bienvenue dans votre magasin de bières belges.

  div.content(ng-view)

