body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  margin: 5% 5%;
}

.main-content {
  background-color: #f9f9f9;
  border: 2px solid #75b1d3;
  border-radius: 15px;
  padding: 10px;
}

.cart-container {
  margin: 5% 15%;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.delivery-form input.ng-invalid.ng-touched {
  border : 1px solid red;
}

/* Cart View */
.cart-container {
  margin: 5% 15%;
}

.row-bolder {
  font-weight: bolder;
}

.input-quantity {
  width: 75px !important;
}

.btn-rmv {
  float: right;
  margin-right: 20px;
}

.cell-total {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Product view */
.carousel-container {
  margin: auto;
  width: 700px;
  height: 400px;
  color: black;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-slide-img {
  margin: auto;
  height: 350px;
}

.rn-carousel-indicator {
  margin: auto;
  text-align: center;
  background-color: #75b1d3;
  width: 120px;
  border-radius: 25px;
}

.rn-carousel-indicator span {
  font-size: xx-large;
}

.gallery {
  clear: right;
  overflow: hidden;
}

.product {
  width: 300px;
  height: 250px;
  float: left;
  margin: 5px;
  padding: 10px;
  border: solid 1px #dddddd;

}

.cart-button {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.gallery-icon {
  max-height: 100px;
}

.gallery-button {
  display: inline;
}
.gallery-button a {
  margin-top: 200px;
}

.cursor-pointer {
  cursor: pointer;
}

.caption {
  width: 280px;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 120px;
}