body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  margin: 5% 5%;
}

.cart-container {
  margin: 5% 15%;
}

.title {
  margin: 0 auto;
  text-align: center;
}

/* Cart View */
.cart-container {
  margin: 5% 15%;
}

.row-total {
  font-weight: bolder;
}

.row-header {
  font-weight: bolder;
}

.cell-total {
  color: red;
}


/* Product view */
.gallery {
  clear: right;
  overflow: hidden;
}

.product {
  width: 300px;
  height: 250px;
  float: left;
  margin: 10px;
  padding: 10px;
  border: solid 1px #dddddd;

}

.cart-button {
  float: right;
  margin-right: 15px;
}

.gallery-icon {
  max-height: 100px;
  cursor: pointer;
}

.beer-title {
  cursor: pointer;
}

.caption {
  width: 280px;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 120px;
}